use Mix.Config

config :slack,
  use_console: true, # simulate a local slack instance
  print_to_console: true, # print console messages to the local tty (disabled in test)
  default_channel: "CHANNELID",
  bots: [
    %{ name:    "bot_a",
       token:   "BOT_ACCESS_TOKEN (starting with xoxb-)", 
       ribbit_msg: "ribbit", # used in default responder
       responder: Slack.Responders.Default
     },
    %{ name:    "bot_b",
       token:   "BOT_ACCESS_TOKEN (starting with xoxb-)", 
       ribbit_msg: "ribbit", # used in default responder
       responder: Slack.Responders.Default
     }
  ]
