use Mix.Config

config :slack,
  default_channel: "CHANNELID",
  bots: [
    %{ name:    "bot_a",
       token:   "BOT_ACCESS_TOKEN (starting with xoxb-)", 
       ribbit_msg: "ribbit", # used in default responder
       responder: Slack.Responders.Default
     },
    %{ name:    "bot_b",
       token:   "BOT_ACCESS_TOKEN (starting with xoxb-)", 
       ribbit_msg: "ribbit", # used in default responder
       responder: Slack.Responders.Default
     }
  ]
